<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazonSpinOff</title>
    <!--Bring in Bootstrap and CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<!--Title for the page, using Bootstrap styling to make it look nice-->
<body>
    <div class="bg-dark p-2 text-white text-center font-weight-bolder">
        <span class="navebar-brand text-uppercase display-4">Welcome to my Amazon Spin-Off Website</span>  
    </div>
    <br />
    <div class="row m-1">
        <div class="col-4">
            <vc:navigation-menu />
        </div>
        <div class="col-8">
            <!--Summary sentence, complete with Bootstrap :) -->
            <h4 class="text-center font-italic">Below is a list of books that I recommend:</h4>
            <!--Render the Body (allow content to be filled from views)-->
            @RenderBody()
        </div>
    </div>
</body>
</html>
