@{
    ViewData["Title"] = "Home Page";
}

<!--New, never learned Bootstrap used:
    1. display-4 (used on _Layout.cshtml for my <span>)
    2. table table-bordered as well as thead-light (used on Index.cshtml page for <table>)
    3. font-italic (used on _Layout.cshtml for my <h4>)-->
<!--Pull in model to be able to access the Seed Data on Index page-->
@model BookListViewModel

<!--Create a table to iterate through the list of books generated in the seed-->
<table class="table table-bordered">
    <!--Table Headers-->
    <thead class="thead-light">
        <tr><th>Title</th><th>Author First</th><th>Author Last</th><th>Publisher</th><th>ISBN</th><th>Classification</th><th>Category</th><th>Price</th><th>Pages</th><th>Buy</th></tr>
    </thead>
    <tbody>
        <!--Gets every instance within the List-->
        @foreach (var x in Model.Books)
        {
            <partial name="BookSummary" model="x" />
        }
    </tbody>
</table>

    <br />

<!--Set up page number dynamic generation from paging info-->
<div class="text-center" page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
    page-class="btn" page-class-normal="btn-outline-dark"
    page-class-selected="btn-dark" page-url-category="@Model.Type"></div>

